#bought-tabs.mypage-block
  .mypage-block-header
    購入した商品
  #bought-tabs.mypage-block-tabs
    = link_to bought_progress_users_path, class: "mypage-block-tabs__tab active-tab", id: "bought_progress"  do
      取引中
    = link_to bought_past_users_path, class: "mypage-block-tabs__tab", id: "bought_past"  do
      過去の取引
  #bought-items-tabs.mypage-block-data-list
    -if items.length != 0
      = render partial: "users/item", collection: items,  as: "item"
    -else
      .mypage-block-data-list__data-none
        .text
          商品はありません。